#root {
  background: rgb(8, 8, 8);
  width: 100%;
  height: 100vh;
}

li.navbarTitle {
  font-weight: 500;
}

ul.navbarList {
  list-style-type: none;
  display: flex;
  gap: 40px;
  color: white;
}

a {
  color: white;
}

.mainContent {
  color: white;
  margin: 35px 15%;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.clsAboutSection {
  color: white;
  margin: 20px 15%;
  font-size: 16px;
}

.aboutHeader {
  font-weight: 500;
  font-size: 23px;
  margin-block: 8px;
}

.clsAboutInnerHeader {
  font-size: 18px;
  font-weight: 500;
  margin-block: 10px;
}

img.clsMyImage {
  width: 200px;
  border-radius: 50%;
  border: 8px solid #646cff;
}

.clsMyName {
  font-size: 70px;
  font-weight: 500;
}

.clsMySummary {
  font-size: 25px;
}

span.clsWavingHand {
  transform-origin: bottom right;
  display: inline-block;
  animation-name: handwave;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}



@keyframes handwave {

  0% {
    transform: rotate(0deg);
  }

  3% {
    transform: rotate(7deg);
  }

  6% {
    transform: rotate(0deg);
  }

  9% {
    transform: rotate(-7deg);
  }

  12% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(7deg);
  }

  18% {
    transform: rotate(0deg);
  }

  21% {
    transform: rotate(-7deg);
  }

  24% {
    transform: rotate(0deg);
  }

  27% {
    transform: rotate(7deg);
  }

  30% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(-7deg);
  }

  36% {
    transform: rotate(0deg);
  }

  39% {
    transform: rotate(7deg);
  }

  42% {
    transform: rotate(0deg);
  }

  45% {
    transform: rotate(-7deg);
  }

  48% {
    transform: rotate(0deg);
  }

  51% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }

}