#root {
  
  width: 100%;
  min-height: 100vh;
  opacity: 0.95;
}

li.navbarTitle {
  font-weight: 500;
}

ul.navbarList {
  list-style-type: none;
  display: flex;
  gap: 40px;
  color: black;
}
.clsSkillsName {
  display: inline-block;
  margin: 5px 10px;
  color: white;
  background: black;
  opacity: 0.9;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
}
.clsSkillsName:hover {
  opacity: 0.8;
}

a {
  color: black;
}

.mainContent {
  color: black;
  margin: 25px 15%;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.clsAboutSection {
  color: black;
  margin: 20px 15%;
  font-size: 16px;
}

.aboutHeader {
  font-weight: 500;
  font-size: 23px;
  margin-block: 8px;
}

.clsAboutInnerHeader {
  font-size: 18px;
  font-weight: 500;
  margin-block: 10px;
}

img.clsMyImage {
  height: 180px;
  border-radius: 50%;
  border: 8px solid #646cff;
}

img.clsMail {
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.clsMyName {
  font-size: 65px;
  font-weight: 500;
}

.clsMySummary {
  font-size: 20px;
}

span.clsWavingHand {
  transform-origin: bottom right;
  display: inline-block;
  animation-name: handwave;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

.clsExperiencePageOuterDiv {
  color: black;
  margin: 40px 20%;
}

.clsExperienceHeading, .clsEducationHeading {
  font-size: 22px;
  font-weight: 500;
  margin-block: 10px;
}

img.clsExperienceItemImg {
  height: 55px;
  border-radius: 50%;
}

.clsExperienceItemOuterDiv {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-block: 25px;
}

.clsExperienceItemHeadersOuterDiv {
  display: flex;
  justify-content: space-between;
}

.clsExperienceItemContent {
  width: 75%;
}

.clsExperienceCompanyName {
  font-weight: 500;
  font-size: 16px;
}

.clsExperienceItemDuration {
  font-weight: normal;
  font-size: 16px;
  color: grey;
}

.clsExperienceDesignation {
  font-size: 14px;
  color: grey;
}

img.clsEducationItemImg {
  height: 55px;
  border-radius: 50%;
}

.clsEducationItemOuterDiv {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-block: 25px;
}

.clsEducationItemHeadersOuterDiv {
  display: flex;
  justify-content: space-between;
}

.clsEducationItemContent {
  width: 75%;
}

.clsEducationCompanyName {
  font-weight: 500;
  font-size: 16px;
}
.clsEducationCollegeName {
  font-size: 14px;
  color: grey;
}
.clsEducationDesignation {
  font-size: 14px;
  color: grey;
}

.clsEducationItemDuration {
  font-size: 16px;
  font-weight: normal;
  color: grey;
}
.clsExperienceItemDescription{
  max-height: 0px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}
.clsExperienceItemDescription.clsExperienceItemDescriptionOpen{
  max-height: 300px;
}
.clsExperienceNameAndDesignationOuterDiv{
  cursor: pointer;
}
img.clsExperienceArrowImg.clsExperienceOpen {
  transform: rotateZ(90deg);
}
img.clsExperienceArrowImg {
  height: 15px;
  vertical-align: middle;
  transition: 0.4s ease-in-out;
  margin-inline: 5px;
}

img.clsLinkedIn {
  height: 35px;
  cursor: pointer;
  border-radius: 5px;
}

.clsMyLinks {
  display: flex;
  gap: 20px;
  margin-block: 10px;
  align-items: center;
}

img.clsGitHub {
  height: 35px;
  cursor: pointer;
}

.clsDownloadResumeDiv {
  border-radius: 25px;
  display: flex;
  border: 2px solid #1e3050;
  align-items: center;
  padding-inline: 10px;
  gap: 10px;
  cursor: pointer;
}

.clsDownloadResumeDiv:hover{
  border-color: #646cff;
  background: #646cff;
  color: white;
}

img.clsDownloadImg {
  height: 25px;
}

.clsProjectsHeading {
  font-size: 22px;
  font-weight: 500;
  margin-block: 10px;
}

.clsProjectsPageOuterDiv {
  margin: 40px 15%;
}

.clsProjectsData {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clsProjectsItemOuterDiv {
  width: 25%;
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3),
            -2px -2px 5px rgba(255, 255, 255, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.clsProjectsItemOuterDiv:hover {
  transform: translateY(-3px);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4),
            -3px -3px 8px rgba(255, 255, 255, 0.2);
}

img.clsProjectItemImg {
  object-fit: contain;
  height: 135px;
}



.clsProjectsItemNameDiv {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  margin-block: 10px;
}

.clsProjectsItemDescriptionDiv {
  text-align: left;
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1em;
  height: 50px;
  max-height: calc(1em * 3);
}
.clsProjectsItemDescriptionReadMore {
  text-align: right;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  color: #d40000;
}

@keyframes handwave {

  0% {
    transform: rotate(0deg);
  }

  3% {
    transform: rotate(7deg);
  }

  6% {
    transform: rotate(0deg);
  }

  9% {
    transform: rotate(-7deg);
  }

  12% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(7deg);
  }

  18% {
    transform: rotate(0deg);
  }

  21% {
    transform: rotate(-7deg);
  }

  24% {
    transform: rotate(0deg);
  }

  27% {
    transform: rotate(7deg);
  }

  30% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(-7deg);
  }

  36% {
    transform: rotate(0deg);
  }

  39% {
    transform: rotate(7deg);
  }

  42% {
    transform: rotate(0deg);
  }

  45% {
    transform: rotate(-7deg);
  }

  48% {
    transform: rotate(0deg);
  }

  51% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }

}